.inputWrapper {
  display: flex;
  gap: 9px;
  align-items: center;
}

.input {
  border: 1px solid currentColor;
  border-radius: 4px;
  width: 100%;
  padding: 5px 10px;
}

.input.error {
  background: rgba(15, 174, 155, 0.11);
  border: 2px solid rgb(15, 174, 155);
}
